#googlelogo{
	height: 92px;
	width:272px;
	margin: 200px 500px 10px 500px;
}

#input{
	margin:0 450px 0 390px;
	display:block;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	width:500px;
	height: 40px;
}

#button{
	margin:27px 450px 0 500px;
	width:500px;
	position:relative;
	left:-50px;
}

#b1{
	border-style: solid;
	margin-right: 30px;
	height:30px;
	width:150px;
}

#b2{
	border-style: solid;
	height:30px;
	width:150px;
}

span{
	text-align: center;
}

#header{
	float:right;
	position: relative;
	top:-410px;

}

a{
	color:black;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

#images, #gmail{
	font-family: arial;
	font-size: 15px;
}

#images{
	margin-left: 22px;
}

#app{
	display: inline;
	position:relative;
	top:8px;
	margin-left: 22px;
}

#sign_in{
	display: inline;
	display: inline-block;

}

#b3{
	border:solid;
	background: #4387fd;
	border: 1px solid #4387fd;
	color:white;
	height: :50px;
	width:90px;
	font-weight: :bold;
	font-size: 20px;
	text-align: center;
	margin-left: 22px;
	margin-right: 22px;
}

#footer{
	background-color: #f2f2f2;
	height: 40px;
	position: fixed;
	width:1292px;
	clear:both;
	position:relative;
	left:-8px;
	bottom: -160px;
}

#fl{
	display: inline-block;
float: left;
}

#fr{
	display: inline-block;
float: right;
}

a{
	    text-decoration: none;
    color: #666;
    font-size: 13px;
    font-family: sans-serif, arial;
    padding-left: 30px;
    display: inline-block;
    padding-top: 12px;
}
}